body {
  background-color: gray;
}

.loading {
  font-size: 3rem;
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
}

.todoItem {
  font-family: 'Times New Roman', Times, serif;
  border-bottom: 4px solid whitesmoke;
  border-radius: 5px;
  transition: all 0.5 ease;
  cursor: pointer;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  width: fit-content;
}

.todoItem:hover {
  color: black;
  background: white;
}

.title {
  font-size: 100px;
  margin: auto;
  text-align: center;
  pointer-events: none;
  color: whitesmoke
}

.singleTodo {
  font-family: 'Times New Roman', Times, serif;
  border-bottom: 4px solid whitesmoke;
  border-radius: 5px;
  pointer-events: none;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  width: fit-content;
}

.button {
  color: whitesmoke;
  background: none;
  border: 2px solid whitesmoke;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.5 ease;
}

.button:hover {
  color:black;
  background:whitesmoke;
}

